<form name="form"
      *ngIf="!isLoggedIn"
      class="form"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
      autocomplete="off">
  <fieldset>
    <legend>Customer Login</legend>
  <mat-form-field class="mat-full-width">
    <mat-placeholder>
      <mat-icon>person</mat-icon>
      User Name
    </mat-placeholder>
    <input type="text"  class="form-control" matInput  name="userName"
           [(ngModel)]="form.userName" required
           #userName="ngModel" />
  </mat-form-field>
  <mat-form-field class="mat-full-width">
    <mat-placeholder>
      <mat-icon>lock</mat-icon>
      Password
    </mat-placeholder>
    <input type="password"  class="form-control" matInput  name="password" required [(ngModel)]="form.password"
           #password="ngModel" />
  </mat-form-field>
    <div class="button">
      <button mat-fab class="alert alert-success" type="submit" color="primary" >
        <mat-icon>login</mat-icon>
      </button>
    </div>
  </fieldset>
</form>
