.navbar{
  background-color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar img{
  width:100px;
  height: 100px;
}
.navbar .banner{
  width:400px;
  height: 100px;
}
.multicolortext {
  background-image: linear-gradient(to left, white,yellow,goldenrod);
  -webkit-background-clip: text;
  font-size: larger;
  font-weight: bold;
  color: transparent;
  font-family: "Lucida Calligraphy"
}

aside{
width: 10%;
  margin-top: 5%;


}
